{% extends "master.html" %}

{% block leftmenu%}
    {% include '../../includes/left-menu.html'%}
{% endblock%}
{% block content %}
<head>
    <title>Delete Driver</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center title-color my-4">Xóa tài khoản tài xế</h1>
        
        <!-- Confirmation for deleting driver -->
        <p class="text-center">Bạn có muốn xóa tài khoản này không <strong>{{ driver.user }}</strong>?</p>

        <!-- Form to confirm deletion -->
        <form method="post">
            {% csrf_token %}
            <div class="text-center">
                <button type="submit" class="btn btn-danger">Đã xóa</button>
                <a href="{% url 'driver' %}" class="btn btn-secondary">Thoát</a>
            </div>
        </form>
    </div>
</body>
{% endblock %}
