{% extends "master.html" %}

{% block leftmenu%}
    {% include '../../includes/left-menu.html' %}
{% endblock %}

{% block footer%}
    {% include '../../includes/footer.html' %}
{% endblock %}

{% block navbar %}
    {% include '../../includes/nav-bar.html' %}
{% endblock %}

{% block content %}
<div class="container">

    <div class="card mb-4">
        <h5 class="card-header">Nạp tiền vào ví</h5>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}


                <!-- Ô nhập số tiền muốn nạp -->
                <div class="mb-3 row">
                    <label for="amount" class="col-md-2 col-form-label">Số tiền muốn nạp</label>
                    <div class="col-md-10">
                        <input type="number" step="0.01" class="form-control" id="amount" name="amount"
                            placeholder="Nhập số tiền muốn nạp" required />
                    </div>
                </div>

                <!-- Nút Xác nhận -->
                <div class="mb-3 row">
                    <div class="col-md-10 offset-md-2">
                        <button type="submit" class="btn btn-primary">Xác nhận nạp tiền</button>
                        <a href="{% url 'wallet' %}" class="btn btn-secondary">Hủy</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% block wallet_content %}
    {% endblock %}
</div>
{% endblock %}
